langchain
langchain-groq
faiss-cpu
tiktoken
langchain-community
langchain-openai
chromadb
sentence-transformers
pypdf
python-dotenv
pymupdf
unstructured
unstructured[docx]
pdfminer.six
python-docx
docx2txt
pandas
openpyxl
jq
matplotlib
langchain_huggingface
langchain-google-genai
ipywidgets
langchain-experimental
pydantic==2.9.2
rank_bm25
ipykernel
