langchain
langchain-groq
faiss-cpu
tiktoken
langchain-community
langchain-openai
chromadb
sentence-transformers
pypdf
python-dotenv
pymupdf
unstructured
pdfminer
python-docx
docx2txt
unstructured[docx]
pandas
openpyxl
jq
matplotlib
# Embeddings
langchain_huggingface
sentence-transformers
langchain-google-genai
ipywidgets
textract
python-docx
langchain-experimental